@font-face {
  font-family: "Psychedelia";
  src: url("/fonts/Psychedelia.ttf");
}
@font-face {
  font-family: "Hyatheus";
  src: url("/fonts/Hyatheus.otf");
}
/* COLORS
#010B1C 
#EBD4AD 
#054E69 
#239192 
#2738F6 
#051F64 
#ACB0A4 
#7E847B  
#f80f92
#835eff*/

body {
  background-image: linear-gradient(-206deg, #835eff 0%, #ff008d 100%);
  font: white;
  margin: 0;
  padding: 0;
  font-family: Hyatheus;
}
