@import "../pages/index.scss";

.about-me-container {
  margin: 10vh 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.about-me-title {
  font-family: Psychedelia;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0;
  margin-top: 10vh;
  padding: 0;
  font-size: 20vh;
  font-weight: 100;
  position: relative;
  letter-spacing: 5px;
  color: $primary;
  width: 100%;
  text-align: center;
  justify-content: center;
  @include z-index(script);
}

.about-me-title:after {
  content: "about me";
  position: absolute;
  width: 100%;
  left: 10px;
  top: 5px;
  color: $lighttitle;
}

.about-me-content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
}

.about-me-content {
  @include z-index(script);
  color: $dark;
  font-size: 1.1em;
  letter-spacing: 1.5px;
}

.about-me-content h2 {
  color: $light;
  font-size: 1.4em;
  letter-spacing: 1.5px;
}

.about-me-content p {
  color: $dark;
  font-size: 1.1em;
  letter-spacing: 1.5px;
}

.about-me-picture-container {
  width: 40%;
  height: 50vh;
  @include z-index(picframes);

  // position: relative;
}
.about-me-picture {
  background-image: url(../images/Mikayda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: $lighttitle 1.3em solid;
  border-radius: 3em;
  // border-radius: 3em;
  //filter: sepia(50%);
  //filter: invert(0.8);
  width: 80%;
  height: 100%;
  @include z-index(script);
}
.general {
}
.goals {
}
.topics {
}
.resume {
}
