@import "../pages/index.scss";

footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  text-align: right;
  background-color: $lavacolor;
  @include z-index(footer);
}

@media only screen and (max-width: 640px) {
  footer {
    text-align: left;
  }
}
