@import "../pages/index.scss";

/*various blob speeds*/
$fast: 30s;
$med: 35s;
$slow: 40s;
.lava-container {
  position: fixed;
  height: 100%;
  width: 100%;
}
.blobs {
  filter: url("#goo");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.goop {
  background: $lavacolor;
  width: 100%;
  height: 50px;
  position: fixed;
  border-radius: 50%;
  filter: blur($lavablur);
}
.top-goop {
  position: fixed;
  top: -5vh;
  left: -10vw;
  height: 15vh;
  z-index: 3;
}
.bot-goop {
  bottom: -25px;
  position: fixed;
  z-index: 3;
}
.blob {
  border-radius: 60%;
  position: fixed;
  animation: cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
  background: $lavacolor;
  filter: blur($lavablur);
  z-index: 1;
}

@mixin blobanimator($anim, $dur) {
  animation: $anim $dur infinite ease-in;
}
.blob:nth-of-type(1) {
  height: 20%;
  width: 20%;
  @include blobanimator(from-bottom, $fast);
  bottom: -180px;
}
.blob:nth-of-type(2) {
  width: 20%;
  height: 20%;
  left: 5vw;
  @include blobanimator(from-bottom, $med);
  animation-delay: 5s;
  bottom: -180px;
}
.blob:nth-of-type(3) {
  height: 25%;
  width: 20%;
  right: 12vw;
  @include blobanimator(from-top, $slow);
  animation-delay: 1s;
  top: -180px;
}
.blob:nth-of-type(4) {
  height: 30%;
  width: 26%;
  left: 20vw;
  @include blobanimator(from-top, $med);
  top: -180px;
  animation-delay: 3s;
}
.blob:nth-of-type(5) {
  height: 22%;
  width: 18%;
  left: -15vw;
  @include blobanimator(from-bottom, $slow);
  bottom: -180px;
  animation-delay: 8s;
}

.blob:nth-of-type(6) {
  height: 29%;
  width: 20%;
  @include blobanimator(from-bottom, $fast);
  bottom: -180px;
}
.blob:nth-of-type(7) {
  width: 20%;
  height: 25%;
  left: 20vw;
  @include blobanimator(from-bottom, $med);
  animation-delay: 1.5s;
  bottom: -180px;
}
.blob:nth-of-type(8) {
  height: 35%;
  width: 20%;
  right: 20vw;
  @include blobanimator(from-top, $slow);
  top: -180px;
}
.blob:nth-of-type(9) {
  height: 26%;
  width: 20%;
  left: 18vw;
  @include blobanimator(from-top, $med);
  top: -180px;
  animation-delay: 10s;
}
.blob:nth-of-type(10) {
  height: 28%;
  width: 24%;
  left: -10vw;
  @include blobanimator(from-bottom, $slow);
  bottom: -180px;
  animation-delay: 2s;
}

@keyframes from-bottom {
  0% {
    bottom: -180px;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes from-top {
  0% {
    top: -180px;
  }
  100% {
    top: 100%;
  }
}

#svg {
  height: 0px;
  z-index: 1;
}
