@import "../pages/index.scss";

/*various blob speeds*/
$fast: 30s;
$med: 35s;
$slow: 40s;
.lava-container {
  position: fixed;
  height: 100%;
  width: 100%;
  @include z-index(lava);
}
.blobs {
  filter: url("#goo");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include z-index(blobs);
}

.goop {
  background: $lavacolor;
  width: 100%;
  height: 10vh;
  position: fixed;
  border-radius: 10%;
  filter: blur($lavablur);
  @include z-index(border-goop);
}
.top-goop {
  position: fixed;
  top: -5vh;
  height: 15vh;
}
.bot-goop {
  bottom: -25px;
  position: fixed;
}
.blob {
  border-radius: 60%;
  position: fixed;
  animation: cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
  background: $lavacolor;
  filter: blur($lavablur);
}

@mixin blobanimator($anim, $dur) {
  animation: $anim $dur infinite ease-in;
}
.blob:nth-of-type(1) {
  height: 20%;
  width: 20%;
  @include blobanimator(from-bottom, $fast);
  bottom: -180px;
}
.blob:nth-of-type(2) {
  width: 20%;
  height: 20%;
  left: -5vw;
  @include blobanimator(from-bottom, $med);
  animation-delay: 5s;
  bottom: -180px;
}
.blob:nth-of-type(3) {
  height: 25%;
  width: 20%;
  right: 12vw;
  @include blobanimator(from-top, $slow);
  animation-delay: 1s;
  top: -180px;
}
.blob:nth-of-type(4) {
  height: 30%;
  width: 26%;
  left: 15vw;
  @include blobanimator(from-top, $med);
  top: -180px;
  animation-delay: 3s;
}
.blob:nth-of-type(5) {
  height: 22%;
  width: 18%;
  left: -15vw;
  @include blobanimator(from-bottom, $slow);
  bottom: -180px;
  animation-delay: 8s;
}

.blob:nth-of-type(6) {
  height: 29%;
  width: 20%;
  @include blobanimator(from-bottom, $fast);
  bottom: -180px;
}
.blob:nth-of-type(7) {
  width: 20%;
  height: 25%;
  left: 20vw;
  @include blobanimator(from-bottom, $med);
  animation-delay: 1.5s;
  bottom: -180px;
}
.blob:nth-of-type(8) {
  height: 35%;
  width: 20%;
  right: 20vw;
  @include blobanimator(from-top, $slow);
  top: -180px;
}

@keyframes from-bottom {
  0% {
    bottom: -180px;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes from-top {
  0% {
    top: -180px;
  }
  100% {
    top: 100%;
  }
}

#svg {
  height: 0px;
  z-index: -11;
}
@media only screen and (max-width: 770px) {
  .blob:nth-of-type(1),
  .blob:nth-of-type(2),
  .blob:nth-of-type(3),
  .blob:nth-of-type(4),
  .blob:nth-of-type(5),
  .blob:nth-of-type(6),
  .blob:nth-of-type(7),
  .blob:nth-of-type(8) {
    height: 15%;
    width: 15%;
    background: $medialava;
  }
}
