@import "../pages/index.scss";
header {
  width: 100vw;
  position: fixed;
  @include z-index(navbar);
}
.navbar-container {
  margin: 0;
  width: 100%;
  font-size: 3vh;
  display: flex;
  justify-content: space-around;
  top: 0;
  background-color: #fb00ff;
}

.navbar-container > a {
  text-decoration: none;
  letter-spacing: 1px;
}
