@import "../pages/index.scss";

.navbar-container {
  margin: 0;
  padding: 15px;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background-color: #fb00ff;
  z-index: 50;
}

.navbar-container > a {
  text-decoration: none;
  letter-spacing: 1px;
}

/* A link that has not been visited */
a:link {
  color: $light;
}

/* A link that has been visited */
a:visited {
  color: $light;
}

/* A link that is hovered on */
a:hover {
  color: $dark;
}

/* A link that is selected */
a:active {
  color: $light;
}
