@import "../pages/index.scss";
@import "../pages/index.scss";

.projects-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: green 4px solid;
  height: 100vh;
  width: 100vw;

  @include z-index(script);
}

.projects-title {
  font-family: Psychedelia;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  font-weight: 100;
  position: relative;
  letter-spacing: 5px;
  color: $primary;
  width: 100%;
  text-align: center;
  justify-content: center;
  @include z-index(script);
}

.projects-title:after {
  content: "projects";
  position: absolute;
  width: 100%;
  left: 10px;
  top: 5px;
  color: $lighttitle;
}

.projects-list {
  list-style: disc;
}

.projects-item {
  @include z-index(script);
  color: $dark;
  font-size: 1.1em;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 770px) {
  .about-me-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
  }
  .about-me-container {
    margin: 10vh 2vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .about-me-content h2 {
    text-align: center;
  }
  .about-me-picture-container {
    width: 80%;
    height: auto;
    @include z-index(picframes);

    // position: relative;
  }
  .about-me-picture {
    background-size: cover;
    height: 30vh;
    width: 90%;
    border: $lighttitle 15px solid;
  }
}
