@import "../pages/index.scss";

.tech-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tech-icon {
  width: 5vw;
  height: 5vh;
  padding: 2vh;
  margin: 2vh;
}
